
<div class=" flex mx-5 px-4 ml-2">
  <div class="mx-1 my-1 px-2">
    <strong><%= comment.commenter %> </strong>
    <br>
    <%= comment.body %>
  </div>
    <ul class="flex  ">
      <% if can? :update, comment %>
        <li class="mx-5"><%= link_to 'Edit', edit_post_comment_path(comment.post,comment) %></li>
        <li><%= link_to 'Delete',
                    [comment.post, comment], data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          }
        %>
        </li>
      <% end  %>
    </ul>

</div>