<% if user_signed_in? %>
  <h1>Welcome Home, <%= current_user.name %></h1>
  <div align="left">
    <%#= link_to " Edit Profile ", edit_user_registration_path  %>
    <%#= link_to " Profile ", "user/profile"  %>
    <!--
      #
      user_registration_path(current_user)
      user_path(current_user)
    -->
  </div>
<% else %>
  <h1>Home</h1>
<% end %>


