<% if can? :create, Post %>
<!--  <div style="text-decoration:none">-->
<!--    <button type="button" ><%#= link_to "New Post", new_post_path %> </button>-->
<!--  </div>-->
<% end %>
<ul>
  <% @posts.each do |p| %>
  <li>
    <%= p.title%> <br/>
    <%= p.body%><br/>
    <%= link_to "read more ",post_path(p) %>
  </li>
  <% end %>
</ul>
<br/>



