@import url("navbar.css");



*{
    font-family: "Epilogue", sans-serif;
    font-size: 0.9rem;
}

li{
    list-style: none;
}
.menu-items{
    min-width: 55%;
}

body {
    background-size: auto;
    height: 100%;
    background-color: white;
    color: #2E2F30;
    text-align: left;
    width: 100%;
    display: table-cell;
    min-height: 100vh;
}

html, body {
    margin: 1px;
    padding: 1px;
}
h1{
    font-size: 20px;
}

.page-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    display: flex;
    width: 80%;
    margin: auto;
    padding-bottom: 1.5rem;    /* Footer height */
    justify-content: space-between;
    align-items: flex-start;

}
.main-content{
    min-width: 70%;
}
.right-side-content{

    /*background-image: url("background.jpeg");*/

    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    align-content: center;
    background-position: center;
    margin-top: 17%;
    border-radius: 105px ;
}

footer{
    position: page;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    padding-top: 5px;
    color: black;
    text-align: center;
}










