
*{
    font-family: "Epilogue", sans-serif;
    font-size: 1rem;

}

input[type=text], textarea {
    border: 1px solid rgb(74 222 128);
    outline: none;
    background-color: rgb(243 244 246)
}

input[type=text]:focus, textarea:focus {
    /*border: solid rgb(74 222 128);*/
    --tw-ring-color: rgb(34 197 94);
    border-color:rgb(74 222 128);
    outline: none;

}
footer{
    position: page;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    color: black;
    text-align: center;
    min-height: 10vh;
}



.min-h-80{
    min-height: 80vh;
}









