<nav class="bg-white shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <!-- Website Logo -->
        <div>
          <a href="#" class="flex items-center py-4 px-2">
            <img src="logo.png" alt="Logo" class="h-8 w-8 mr-2" />
            <span class="font-semibold text-gray-500 text-lg"
            >Navigation</span
            >
          </a>
        </div>
        <!-- Primary Navbar items -->
        <div class="hidden md:flex items-center space-x-1">
<!--          <a-->
<!--            href=""-->
<!--            class="py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold "-->
<!--          >Home</a-->
<!--          >-->
          <%=
            link_to 'HOME', root_path,
            class: "py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold"
          %>
          <a
            href=""
            class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
          >Services</a
          >
          <a
            href=""
            class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
          >About</a
          >
          <a
            href=""
            class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
          >Contact Us</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>











<!--<nav>-->
<!--  <h2 class="logo">ParameterIT </h2>-->
<!--  <ul class="menu-items">-->
<!--    <li > <%#= link_to '<button type="button">HOME</button>'.html_safe, root_path %>  </li>-->
<!--    <li > <%#= link_to '<button type="button">Posts</button>'.html_safe,posts_path%>  </li>-->
<!--  </ul>-->
<!--  <ul class="cta-btns">-->
    <%# if user_signed_in? %>
<!--      <li>-->
<!--         <p class="navbar-mail" >-->
           <%#= link_to "#{current_user.name}", "profile"  %>
           <%#=  current_user.name %>
<!--         </p>-->
<!--      </li>-->
<!--      <li>-->
        <%#= link_to '<button type="button">Logout</button>'.html_safe, destroy_user_session_path , data: { turbo_method: :delete }  %>
<!--      </li>-->
    <%# else %>
<!--      <li>-->
        <%#= link_to '<button type="button">Sign in</button>'.html_safe, new_user_session_path %>
<!--      </li>-->
    <%# end %>
<!--  </ul>-->


<!--</nav>-->
